/* D-DIN Regular */
@font-face {
    font-family: 'D-DIN';
    src: url('../font/D-DIN.woff2') format('woff2'),
         url('../font/D-DIN.woff') format('woff'),
         url('../font/D-DIN.ttf') format('truetype'),
         url('../font/D-DIN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* D-DIN Bold */
@font-face {
    font-family: 'D-DIN';
    src: url('../font/D-DIN-Bold.woff2') format('woff2'),
         url('../font/D-DIN-Bold.woff') format('woff'),
         url('../font/D-DIN-Bold.ttf') format('truetype'),
         url('../font/D-DIN-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* D-DIN Italic */
@font-face {
    font-family: 'D-DIN';
    src: url('../font/D-DIN-Italic.woff2') format('woff2'),
         url('../font/D-DIN-Italic.woff') format('woff'),
         url('../font/D-DIN-Italic.ttf') format('truetype'),
         url('../font/D-DIN-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* D-DIN Condensed Regular */
@font-face {
    font-family: 'D-DIN Condensed';
    src: url('../font/D-DINCondensed.woff2') format('woff2'),
         url('../font/D-DINCondensed.woff') format('woff'),
         url('../font/D-DINCondensed.ttf') format('truetype'),
         url('../font/D-DINCondensed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* D-DIN Condensed Bold */
@font-face {
    font-family: 'D-DIN Condensed';
    src: url('../font/D-DINCondensed-Bold.woff2') format('woff2'),
         url('../font/D-DINCondensed-Bold.woff') format('woff'),
         url('../font/D-DINCondensed-Bold.ttf') format('truetype'),
         url('../font/D-DINCondensed-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* NotoKR Light */
@font-face {
    font-family: 'NotoKR';
    src: url('../font/NotoKR-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

/* NotoKR Medium */
@font-face {
    font-family: 'NotoKR';
    src: url('../font/NotoKR-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

/* NotoKR Regular */
@font-face {
    font-family: 'NotoKR';
    src: url('../font/NotoKR-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
