header .header_area {
    position: relative;
    height: 160px;
}

header .top_wrap {
    position: absolute;
    top: 12px;
    right: 27px;
}
header .top_wrap a {
    font-size: 11px;
}

header .top_wrap .start::after {
    width: 26px;
    height: 26px;
    background-position: -373px -352px;
    vertical-align: middle;
}

header .top_wrap .junior::before {
    content: '';
    width: 1px;
    height: 10px;
    background: #e4e8eb;
    display: inline-block;
    margin: 0 5px;
}

header .top_wrap .junior::after {
    background-position: -285px -267px;
    width: 60px;
    height: 10px;
}

header .top_wrap .junior:hover::after {
    background-position: -347px -267px;
}

header .top_wrap .bin {
    margin-left: 8px;
}

header .top_wrap .bin::after {
    background-position: -220px -144px;
    width: 34px;
    height: 11px;
    vertical-align: middle;
    margin-top: -4px;
}

header .top_wrap .bin:hover::after {
    background-position: -380px -199px;
}

header .bottom_wrap h1 a::after {
    width: 222px;
    height: 56px;
    background-position: 0 -157px;
}
header .bottom_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
header .bottom_wrap h1 {
    display: inline-block;
    vertical-align: middle;
    /* position: absolute; */
    /* top: 0; */
    /* left: 0; */
    /* transform: translateY(-50%); */
}

header .bottom_wrap .search {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    /* position: absolute; */
    /* top: 0; */
    /* transform: translateY(-50%); */
    /* left: 268px; */
    width: 586px;
    height: 56px;
    border: 2px solid #19ce60;
    border-radius: 2px;
    margin-left: 40px;
}
header .bottom_wrap .search input {
   width: calc(100% - 56px);
   height: 52px;
   padding: 13px 15px;
   font-size: 18px;
   outline: none;
}


header .bottom_wrap .search button {
    background: #19ce60;
    position: absolute;
    right: 0;
    top: -2px;
    width: 56px;
    height: 56px;
    cursor: pointer;
}
header .bottom_wrap .search button::after {
    background-position: -420px -207px;
    width: 22px;
    height: 22px;
}

header .gnb_area {
    border-top: 1px solid #e4e8eb;
    border-bottom: 1px solid #e4e8eb;
}


header .gnb_area .gnb_wrap {
    width: calc(100% - 270px);
    display: inline-block;
}

header .gnb_area .gnb_wrap ul li {
    display: inline-block;
    padding: 5px 0;
    vertical-align: middle;
}

header .gnb_area .weather,
header .gnb_area .weather .left,
header .gnb_area .weather .right,
header .gnb_area .weather span {
    display: inline-block;
}

header .gnb_area .gnb_wrap {
    padding: 13px 0;
}

header .gnb_area .gnb_wrap ul li .mail {
    position: relative;
    padding-left: 30px;
}

header .gnb_area .gnb_wrap ul li .mail::before {
    background-position: -420px -302px;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -3px;
    left: 0;
}

header .gnb_area .gnb_wrap ul li .shopping,
header .gnb_area .gnb_wrap ul li .shopping_live {
    position: relative;
}

header .gnb_area .gnb_wrap ul li .shopping {
    width: 24px;
    height: 20px;
}

header .gnb_area .gnb_wrap ul li .shopping_live {
    width: 54px;
    height: 20px;
}

header .gnb_area .gnb_wrap ul li .shopping::before,
header .gnb_area .gnb_wrap ul li .shopping_live::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

header .gnb_area .gnb_wrap ul li .shopping::before {
    background-position: -420px -255px;
}

header .gnb_area .gnb_wrap ul li .shopping_live::before {
    background-position: -202px -306px;
}

header .gnb_area .gnb_wrap ul li a.green {
    color: #03c75a;
}

header .gnb_area .gnb_wrap ul li a {
    font-weight: 600;
    font-size: 15px;
}

header .gnb_area .gnb_wrap ul li + li {
    margin-left: 12px;
}

header .gnb_area .gnb_wrap ul li a.more {
    font-size: 13px;
    color: #202020;
    font-weight: 300;
}

header .gnb_area .gnb_wrap ul li a.more::after {
    width: 11px;
    height: 7px;
    background-position: -70px -296px;
    vertical-align: top;
    margin-top: 4px;
    margin-left: 7px;
}

header .gnb_area .weather {
    padding: 5px 0;
    vertical-align: middle;
    width: 270px;
}

header .gnb_area .weather * {
    font-size: 12px;
}

header .gnb_area .weather .exp {
    font-size: 13px;
    font-weight: 700;
    position: relative;
    padding-left: 20px;
}

header .gnb_area .weather .gray {
    color: grey;
}

header .gnb_area .weather .exp::before {
    background-position: -109px -396px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: -2px;
    left: 0;
}

header .gnb_area .weather .left::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 12px;
    background-color: #e4e8eb;
    margin: 0 10px;
    vertical-align: middle;
}

header .gnb_area .weather > a > span {
    padding-left: 9px;
}




/* main */

main .inner {
    padding: 20px 30px;
}

main .sc_news {
    padding: 15px;
    position: relative;
    margin-top: 12px;
}

main .sc_news .left_wrap em {
    position: relative;
    padding-right: 6px;
}
main .sc_news .left_wrap em::after {
    content: '';
    background-position: -279px -396px;
    margin-left: 6px;
    right: 0;
    width: 6px;
    height: 10px;
}

main .sc_news .left_wrap {
    display: inline-block;
}

main .sc_news .right_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

main .sc_news .right_wrap .active {
    color: #3565c9;
}

main .sc_news .right_wrap a {
    font-weight: bold;
    position: relative;
}

main .sc_news .right_wrap a + a {
    padding-left: 8px;
}

main .sc_news .right_wrap a:first-child::after {
    content: '';
    display: inline-block;
    border-radius: 50%;
    width: 3px;
    height: 3px;
    background: #c8ccd1;
    vertical-align: top;
    margin-left: 7px;
    margin-top: 6px;
}

main .sc_stand .title {
    position: relative;
    margin: 22px 0 16px;
}
main .sc_stand .title .left_wrap a {
    font-size: 14px;
}

main .sc_stand .title .stand {
    padding-left: 27px;
    position: relative;
    font-weight: bold;
}
main .sc_stand .title .stand::before {
    width: 27px;
    height: 24px;
    background-position: 0 -396px;
    position: absolute;
    bottom: -2px;
    left: 0;
}

main .sc_stand .title .stand::after {
    content: '';
    background-position: -410px -226px;
    width: 7px;
    height: 11px;
    margin-left: 8px;
}

main .sc_stand .title .sub::after {
    content: '';
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: inline-block;
    background: #c8ccd1;
    vertical-align: top;
    margin-left: 7px;
    margin-top: 6px;
}

main .sc_stand .title .all {
    font-weight: bold;
}

main .sc_stand .title a + a {
    padding-left: 5px;
}

main .sc_stand .right_wrap .ico_list::after {
    content: '';
    width: 14px;
    height: 13px;
    background-position: -333px -306px;
    opacity: 0.7;
}

main .sc_stand .right_wrap .ico_gall::after {
    content: '';
    width: 13px;
    height: 13px;
    background-position: -381px -306px;
    opacity: 0.7;
} 

main .sc_stand .right_wrap .ico_set::after {
    width: 15px;
    height: 15px;
    background-position: -184px -396px;
    opacity: 0.7;
} 

main .sc_stand .title > div {
    display: inline-block;
}

main .sc_stand .title .right_wrap {
    position: absolute;
    top: 0;
    right: 0;
}


main .sc_stand ul li {
    width: calc(100% / 6);
    padding: 20px 0;
    text-align: center;
    float: left;
    position: relative;
    height: 65px;
}

main .sc_stand ul li img {
    height: 20px;
}

main .sc_stand ul li .popup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px 0;
    background-color: #f7f9fa;
    font-size: 0;
    visibility: hidden;
}

main .sc_stand ul li:hover .popup {
    visibility: visible;
}

main .sc_stand ul li .popup a {
    background: #fff;
    padding: 7px 8px 5px;
    display: inline-block;
    border: 1px solid #dae1e6;
    font-size: 12px;
}

main .sc_stand ul li .popup a + a {
    margin-left: -1px;
}

main .sc_stand .content_wrap {
    position: relative;
}

main .content_wrap button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}
main .content_wrap button.prev {
    width: 44px;
    height: 44px;
    background-position: -46px -306px;
    left: -22px;
}

main .content_wrap button.next {
    width: 44px;
    height: 44px;
    background-position: -85px -352px;
    right: -22px;
}

main .sc_cast {
    margin: 35px 0 27px;
}

main .sc_cast .title .left_wrap {
    float: left;
}

main .sc_cast .title .left_wrap em {
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
}

main .sc_cast .title .left_wrap span {
    color: gray;
}

main .sc_cast .title .right_wrap {
    float: right;
}

main .sc_cast .title .right_wrap span::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #e4e8eb;
    margin: 0 5px;
}

main .sc_cast .title .right_wrap .set::before {
    content: '';
    width: 11px;
    height: 11px;
    background-position: -227px -396px;
    vertical-align: middle;
    opacity: 0.7;
    margin: -2px 5px 0 5px;
}

main .sc_cast .list_wrap {
    position: relative;
    margin-top: 17px;
}

main .sc_cast .list_wrap button.prev {
    width: 40px;
    height: 40px;
    background-position: -44px -352px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
}

main .sc_cast .list_wrap ul li {
    float: left;
    width: 100px;
    text-align: center;
    height: 50px;
}

main .sc_cast .list_wrap ul li a {
    font-size: 14px;
    padding: 18px 0;
}

main .sc_cast .list_wrap ul li {
    border-right: 1px solid #dae1e6;
}

main .sc_cast .cast_wrap .list01,
main .sc_cast .cast_wrap .list02,
main .sc_cast .cast_wrap .list04 {
    padding: 18px 0;
}

main .sc_cast .cast_wrap .list01 > div {
    width: 364px;
}

main .sc_cast .cast_wrap .list01 .left_list {
    float: left;
}

main .sc_cast .cast_wrap .list01 .right_list {
    float: right;
}

main .sc_cast .cast_wrap .list01 .desc {
    padding: 16px 18px 0 0;
}

main .sc_cast .cast_wrap .list01 em {
    display: block;
    color: #8449ca;
}

main .sc_cast .cast_wrap .list01 strong {
    margin-top: 8px;
    font-weight: bold;
    font-size: 13px;
    display: block;
}

main .sc_cast .cast_wrap .list01 strong:hover {
    text-decoration: underline;
}

main .sc_cast .cast_wrap .list01 p {
    font-size: 13px;
    margin-top: 6px;
    line-height: 1.5;
}

main .sc_cast .cast_wrap .list01 span {
    display: block;
    margin-top: 10px;
}

main .sc_cast .cast_wrap .list_left .obj {
    width: 170px;
    float: left;
}

main .sc_cast .cast_wrap .list_left .desc {
    overflow: hidden;
    height: 114px;
    padding: 4px 47px 0 21px;
}

main .sc_cast .cast_wrap .list_left .desc em {
    color: #8449ca;
    font-weight: 700;
    display: block;
}

main .sc_cast .cast_wrap .list_left .desc strong {
    font-size: 13px;
    font-weight: bold;
    margin: 4px 0;
    display: block;
}

main .sc_cast .cast_wrap .list_left .desc p {
    font-size: 13px;
    line-height: 1.6;
    margin-bottom: 6px;
    color: #404040;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

main .sc_cast .cast_wrap .list_left li + li {
    margin-top: 18px;
}

main .sc_cast .cast_wrap .list_right {
    padding: 18px 0 17px;
}

main .sc_cast .cast_wrap .list_right ul li {
    width: calc((100% - 54px) / 3);
    display: inline-block;
}

main .sc_cast .cast_wrap .list_right ul li + li {
    margin-left: 27px;
}

main .sc_cast .cast_wrap .list_right strong {
    display: block;
    font-size: 13px;
    font-weight: bold;
    padding-top: 12px;
    margin-bottom: 4px;
}

main .sc_cast .cast_wrap .list_left .desc span.after_one {
    color: #404040;
}

main .sc_cast .cast_wrap .list_right span.after_one {
    color: #505050;
}

main .sc_cast .cast_wrap span + span {
    color: gray;
}

.more_btn {
    position: relative;
    padding: 22px 0 0;
    margin-top: 5px;
    margin-bottom: 42px;
}

.more_btn button {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.more_btn button::before {
    width: 42px;
    height: 42px;
    display: block;
    background-position: 0 -352px;
    margin: 0 auto 3px;
}


/* right_area */
main .sc_login {
    padding: 17px 16px 17px 17px;
}

main .sc_login button {
    background: #19ce60;
    color: #fff;
    width: 100%;
    padding: 15px 0;
    margin-top: 11px;
}

main .sc_login button::before {
    width: 60px;
    height: 12px;
    background-position: -238px -279px;
    margin-right: 5px;
}

main .sc_login p {
    color: grey;
    font-size: 12px;
}

main .sc_login .login_desc {
    padding: 14px 8px 0 4px;
}

main .sc_login .login_desc a {
    font-size: 12px;
}

main .sc_login .login_desc .id_ico::before {
    width: 10px;
    height: 15px;
    background-position: -408px -54px;
    margin: -2px 5px 0 5px;
}

main .sc_login .login_desc .pass_ico::before {
    content: '';
    background: #d7dce0;
    display: inline-block;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    vertical-align: middle;
    margin: -2px 5px 0 5px;
}

main .sc_login .login_desc .left_wrap {
    float: left;
}

main .sc_login .login_desc .join_ico {
    float: right;
}

main .sc_login .login_desc .join_ico::before {
    width: 11px;
    height: 11px;
    background-position: -256px -144px;
    margin: -2px 5px 0 5px;
    vertical-align: middle;
}

main .sc_issue {
    padding: 15px;
    position: relative;
    margin: 12px 0;
}

main .sc_issue .right_wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

main .sc_issue .right_wrap button.prev,
main .sc_issue .right_wrap button.next {
    width: 24px;
    height: 24px;
    border:1px solid #e4e8eb;
}

main .sc_issue .right_wrap button.next {
    margin-left: -1px;
}

main .sc_issue .right_wrap button.prev::before {
    background-position: -194px -337px;
    width: 6px;
    height: 9px;
}
main .sc_issue .right_wrap button.next::before {
    background-position: -178px -337px;
    width: 6px;
    height: 9px;
}


main .sc_issue em {
    font-size: 11px;
    border-radius: 10px;
    border: 1px solid #202020;
    padding: 2px 7px;
    margin-right: 4px;
}

main .sc_shopping {
    margin-top: 15px;
}

main .sc_shopping .title_wrap {
    padding: 12px 0 13px;
    position: relative;
}

main .sc_shopping .title_wrap .left_wrap {
    float: left;
}

main .sc_shopping .title_wrap .left_wrap a.trand {
    font-weight: bold;
}

main .sc_shopping .title_wrap .left_wrap a.trand::before {
    width: 15px;
    height: 15px;
    background-position: -26px -54px;
    margin: 0 5px 0 0;
    vertical-align: top;
}

main .sc_shopping .title_wrap .left_wrap a.trand::after {
    width: 5px;
    height: 9px;
    background-position: -43px -54px;
    vertical-align: top;
    margin: 2px 5px 0 5px;
}

main .sc_shopping .shop_news_wrap,
main .sc_shopping .plus_wrap {
    margin: 0 8px;
    padding: 19px 0 17px;
}


main .sc_shopping .shop_news_wrap .left_wrap em {
    padding-left: 5px;
    font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
}

main .sc_shopping .shop_news_wrap .list_wrap {
    margin: 13px 5px 0;
}

main .sc_shopping .shop_news_wrap .list_wrap em {
    margin-right: 13px;
    color: #000;
    font-weight: 700;
}

main .sc_shopping .shop_news_wrap .list_wrap em::before {
    content: '';
    display: inline-block;
    margin-right: 8px;
    vertical-align: 2px;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    background-color: #1ace61;
}

main .sc_shopping .shop_news_wrap .list_wrap li + li {
    margin-top: 10px;
}

main .sc_shopping .title_wrap.ver02 {
    padding: 0;
} 

main .sc_shopping .title_wrap.ver02 {
    line-height: 29px;
}

main .sc_shopping .title_wrap.ver02 .left_wrap a.fai {
    padding-left: 5px;
}

main .sc_shopping .title_wrap .right_wrap {
    float: right;
}

main .sc_shopping .title_wrap .right_wrap a {
    font-size: 13px;
    font-weight: bold;
}

main .sc_shopping .title_wrap .right_wrap a.active {
    color: #03c75a;
    border-bottom: 2px solid #19ce60;
}

main .sc_shopping .title_wrap .right_wrap a + a {
    margin-left: 15px;
}

main .sc_shopping .shop_wrap .list_wrap .top_wrap {
    padding: 12px 4px 11px 10px;
    background-color: #f7f9fa;
    border-bottom: 1px solid #dae1e6;
}

main .sc_shopping .shop_wrap .list_wrap .top_wrap a {
    font-size: 12px;
    line-height: 1.8;
}

main .sc_shopping .shop_wrap .list_wrap .top_wrap a + a::before {
    content: '';
    display: inline-block;
    border-radius: 10px;
    background: #d7dce0;
    width: 3px;
    height: 3px;
    vertical-align: top;
    margin: 10px 12px;
}

main .sc_shopping .shop_wrap .list_wrap .top_wrap a.not::before {
    display: none;
}

main .sc_shopping .shop_wrap .list_wrap .top_wrap a:nth-child(n+8)::before {
    margin: 10px 6px;
}

main .sc_shopping .navi button {
    width: 29px;
    height: 29px;
    border: 1px solid #dae1e6;
    background: #fff;
}

main .sc_shopping .navi button + button {
    margin-left: -1px;
}

main .sc_shopping .navi button::before {
    width: 5px;
    height: 9px;
}

main .sc_shopping .navi button.prev::before {
    background-position: -71px -54px;
}

main .sc_shopping .navi button.next::before {
    background-position: -50px -54px;
}

main .sc_shopping .bottom_wrap {
    position: relative;
}

main .sc_shopping .btn01 {
    position: absolute;
    top: 13px;
    right: 8px;
}

main .sc_shopping .btn01 > div {
    float: left;
}

main .sc_shopping .btn01 .page {
    padding: 7px 0 0 0;
    margin-right: 7px;
}

main .sc_shopping .title_wrap.ver02 .btn01 {
    top: 0;
    right: 0;
}

main .sc_shopping .btn .page span:first-child::after {
    content: '/';
    display: inline-block;
    color: gray;
}

main .sc_shopping .btn01 .page span:nth-child(2) {
    color: gray;
}

main .sc_shopping .bottom_wrap {
    padding: 55px 8px 22px;
}

main .sc_shopping .bottom_wrap .list ul li {
    width: calc((100% - 10px) / 3);
    vertical-align: top;
    float: left;
}

main .sc_shopping .bottom_wrap .list ul li a {
    width: 107px;
}

main .sc_shopping .bottom_wrap .list ul li + li {
    margin-left: 5px;
}

main .sc_shopping .bottom_wrap .list ul li:nth-child(3n+4) {
    margin-left: 0;
}

main .sc_shopping .bottom_wrap .list ul li .desc {
    min-height: 30px;
    text-align: center;
    margin-top: 5px;
}

main .sc_shopping .bottom_wrap .list ul li .desc em {
    font-weight: bold;
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

main .sc_shopping .bottom_wrap .list ul li .desc span {
    display: block;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

main .sc_shopping .bottom_wrap .list ul li:nth-child(n+4) {
    margin-top: 10px;
}

main .sc_shopping .btn02 {
    margin-top: 18px;
}

main .sc_shopping .btn02 .navi {
    text-align: center;
}

main .sc_shopping .btn02 .page {
    display: inline-block;
    padding: 0 20px;
}

main .sc_shopping .btn.btn02 .page span:first-child::after {
    padding: 0 5px;
}

main .sc_shopping .plus_wrap .left_wrap a + a {
    margin-left: 13px;
}

main .sc_shopping .plus_wrap .content_wrap .left_wrap {
   margin-top: 13px;
   float: left;
}

main .sc_shopping .plus_wrap .content_wrap .right_wrap {
    margin-top: 13px;
    float: right;
 }

main .sc_shopping .plus_wrap .content_wrap a {
    text-align: center;
    font-weight: 700;
}

main .sc_shopping .plus_wrap .content_wrap a {
    width: 163px;
}



/* footer */


footer {
    background-color: #fafbfc;
    padding: 0 30px 92px;
}

footer .banner_area {
    padding: 24px 0;
}

footer .banner_area li {
    float: left;
    width: calc(100% / 3);
}

footer .banner_area li + li {
    padding-left: 40px;
}

footer .banner_area .obj {
    width: 160px;
    height: 86px;
    float: left;
}

footer .banner_area .text {
    overflow: hidden;
    padding: 2px 2px 0 16px;
}

footer .banner_area em {
    display: block;
    color: #58c464;
    font-weight: 700;
}

footer .banner_area strong {
    display: block;
    margin: 4px 0 6px;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.25;
    color: #242424;
}

footer .banner_area p {
    line-height: 18px;
    color: #424242;
    margin-top: 8px;
}

footer .notice_area {
    padding: 16px 0 15px;
}

footer .notice_area a,
footer .link_area em {
    font-weight: 700;
}

footer .notice_area .left_wrap {
    float: left;
}

footer .notice_area .right_wrap {
    float: right;
}

footer .notice_area .right_wrap::after {
    content: '';
    background-position: -408px -134px;
    width: 8px;
    height: 12px;
    margin-left: 10px;
    vertical-align: -1px;
}

footer .link_area {
    padding: 20px 0;
}

footer .link_area .left_wrap {
    float: left;
    width: 780px;
}

footer .link_area .right_wrap {
    float: right;
    width: calc(100% - 780px);
}

footer .link_area li + li {
    margin-top: 9px;
}

footer .link_area ul li em {
    width: 87px;
    display: inline-block;
}

footer .link_area a {
    color: #777;
}

footer .link_area a + a::before,
footer .corp_area li + li::before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 11px;
    background-color: #e4e8eb;
    margin: 0 8px;
    vertical-align: -1px;
}

footer .link_area .right_wrap > div {
    float: left;
}

footer .link_area .right_wrap > div + div {
    margin-left: 50px;
}

footer .link_area .right_wrap .text {
    float: left;
}

footer .link_area .right_wrap .text em {
    display: block;
}


footer .link_area .right_wrap .obj {
    width: 48px;
    height: 48px;
    float: left;
    margin-left: 12px;
}

footer .corp_area {
    padding-top: 25px;
    overflow: hidden;
}

footer .corp_area ul {
    float: left;
}

footer .corp_area li {
    float: left;
}

footer .corp_area a {
    color: #777;
}

footer .corp_area p {
    margin-left: 13px;
    font-weight: 700;
    float: left;
}